body {
  /*標準背景色*/
  background-color: #bbe2f1 !important;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background: rgba(19, 117, 32, 0.1);
}

.fc-theme-standard td,
.fc-theme-standard th {
  height: 60px; /* 枠の高さ指定 */
  border-color: #000080;
  // #800080 navy #000080
  padding: 0 5px 5px;
}
